<table class="w_100 m_5">
	<thead>
		<tr class="text_left">
			<th class="p_2">Seat</th>
			<th class="p_2">Status</th>
			<th class="p2">User</th>
			<th class="p2">Group</th>
			<th class="p_2">Invite Sent</th>
			<th class="p_2">Accpeted On</th>
			<th class="p_2">Seat Locked Till</th>
		</tr>
	</thead>
	<tbody>
		<tr
			v-bind="seatAllocationData"
			v-for="(data, index) in seatAllocationData"
			:key="'seat_'+ data.seat_number"
		>
			<td class="p_2">{{ data.seat_number }}</td>
			<td class="p_2">{{ data.status }}</td>
			<td class="p_2">
				<div class="br_" v-for="user in data.user" :key="user.id">
					{{ user.name }} | {{ user.email }}
				</div>
			</td>
			<td class="p_2">{{ data.group.name }}</td>
			<td class="p_2">{{ data.invite_date }}</td>
			<td class="p_2">{{ data.accpetance_date }}</td>
			<td class="p_2">{{ data.lock_date }}</td>
			<td class="p_2"></td>
		</tr>
	</tbody>
</table>
